.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
data/processed/*
outputs/maps/*
outputs/renders/*
outputs/reports/*
outputs/runs/*
outputs/qgis/*
outputs/eval/*
outputs/models/*
outputs/models/geominilm/*
outputs/model_samples/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/maps/.gitkeep
!outputs/renders/.gitkeep
!outputs/reports/.gitkeep
!outputs/runs/.gitkeep
!outputs/qgis/.gitkeep
!outputs/eval/.gitkeep
!outputs/models/
!outputs/models/.gitkeep
!outputs/models/geominilm/
!outputs/models/geominilm/.gitkeep
!outputs/model_samples/
!outputs/model_samples/.gitkeep

.env
*.qgz
*.tif.aux.xml
.DS_Store
